.row.about-us-content
  .col-md-12
    .well.well-sm
      %fieldset
        %center
          %h2
            About Maropost
          .thumbnail.text-center
            = image_tag "/assets/maropost.png", height:"500" , width: "1100", class: "img-responsive"
            .col-text.caption
              %p The world's best enterprise platform
              %p Maropost is the last sales and marketing solution you'll ever need
        .col-sm-12.abt-content
          %p
            Maropost is the leading global provider of on-demand marketing, sales, commerce, and infrastructure solutions. We offer the world’s best marketing and sales cloud platforms combined with industry leading customer support and client success.
          %p
            From web, to mobile, to social, and across email, SMS, and digital, our Marketing Cloud offers the industry’s most advanced personalization and automation features – all to make your life easier and to increase your marketing ROI.
          %p
            Maropost was founded in 2011 by CEO and Chairman Ross Andrew Paquette. We are headquartered in Toronto, Canada, with offices in New York, USA, London, U.K., and Chandigarh, India.
          %p
            Maropost Sales Cloud is the all-in-one platform for your sales, customer service, and commerce departments. Our Sales Cloud was built from the ground up to offer combined insight and complete integration for a 360 business view. With our first-class customer support, we’ve built the last sales platform you’ll ever use. And the best part? You can choose and customize what features you want. Because the challenges your business is facing are unique, and you need a tailored solution for maximum success.
        .wrap-why
          %h2 Why Maropost
          %p We help modern marketing and sales teams scale up their digital audience, engagement, and revenue to new heights by delivering 2 imperative things: an innovative product, and an excellent service experience.
          .row
            .col-sm-12.col-md-4
              %h3 High Performance
              %p Our product teams push weekly updates of features designed to make sales and marketing professionals lives easier, and to keep us moving as fast as our leading edge customers.
            .col-sm-12.col-md-4
              %h3 Enterprise Scale
              %p We're built for enterprise scale without the enterprise bloat. That's why we're the enterprise of choice for lean sales and marketing teams growing large digital audiences.
            .col-sm-12.col-md-4
              %h3 High Touch Service
              %p In an age of scaling back or automating customer service, we're going all in. At your service with 24/7 Talk-to-a-human support via email, phone, or live-chat.
