<div class="row ">
    <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <fieldset>

			<div class="form-group">
              <div class="col-md-12 user-email">
                Welcome <%=current_user.email%>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
					Thanks for subscribing with us!
              </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
					          You can explore Gallery  by clicking
                    <%= link_to "Gallery", images_path, :class => 'gallery-link btn btn-success'%>

                </div>
             </div>
          </fieldset>

        </div>
    </div>
</div>



