	<div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <!-- <form class="form-horizontal" action="" method="post"> -->
          <%= form_for :new,url: contact_mail_homes_path , html: {:id => 'contact_us', class: "form-horizontal" } do |f| %>
          <fieldset>
            <legend class="text-center">Contact us</legend>

            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" >Name</label>
              <div class="col-md-9">
                <input  type="text" name="c_name" placeholder="Name" class="form-control" maxlength=20>
              </div>
            </div>

            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" >Email</label>
              <div class="col-md-9">
                <input type="email"  name="c_email"  placeholder="Email" class="form-control" maxlength=64>
              </div>
            </div>

            <!-- Phone number input-->
            <div class="form-group">
              <label class="col-md-3 control-label" >Phone number</label>
              <div class="col-md-9">
              <input type="text" class="form-control" name="c_phone" placeholder="Phone number" maxlength=12>
              </div>
            </div>

            <!-- Description body -->
            <div class="form-group">
              <label class="col-md-3 control-label" >Description</label>
              <div class="col-md-9">
                <textarea class="form-control"  name="c_description" placeholder="Please enter your message here..." rows="5" maxlength=500></textarea>
              </div>
            </div>

            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
          <%end%>
        </div>
      </div>
</div>