<div class="inner-container">

	<div class="col-md-12 ">
		<div class='guest_dashboard text-center' >
			<!-- <a href="/users/sign_in" class="btn btn-primary xlarge" c>Login</a>
			<a href="/users/sign_up" class="btn btn-primary xlarge" role="button">SignUp</a> -->
		<%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary xlarge button'  %>
       <%= link_to "Login", new_user_session_path, :class => 'btn btn-primary xlarge button'  %>
		</div>
	</div>

</div>




