.inner-container.guest-inner
  .col-md-12
    .guest_dashboard.text-center
      = link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary xlarge button'
      = link_to "Login", new_user_session_path, :class => 'btn btn-primary xlarge button'
  .col-md-12.text-center
    = link_to "Forget password", new_user_password_path, :class => 'btn btn-primary xlarge button'
