<div class="inner-container guest-inner">

	<div class="col-md-12 ">
		<div class='guest_dashboard text-center' >
		<%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary xlarge button'  %>
        <%= link_to "Login", new_user_session_path, :class => 'btn btn-primary xlarge button'  %>
		</div>
	</div>

</div>




