!!!
%html
  %body
    %div{:style => "font-family:Helvetica,Arial,sans-serif;font-size:12px"}
      %p
        %span{:style => "font-size:14px"}
          %span{:style => "font-family:arial,helvetica,sans-serif"}
            Hi #{@name}
      %p
        %span{:style => "font-size:14px"}
          %span{:style => "font-family:arial,helvetica,sans-serif"} Thanks for submitting your request. Someone will get back to you in 48hrs. .
      %p
        %span{:style => "font-size:14px"}
          %span{:style => "font-family:arial,helvetica,sans-serif"} Admin,
          %br/
          %span{:style => "font-family:arial,helvetica,sans-serif"} Demo App
        %br/
        = succeed "\u{a0}" do
          %br/
