<html>
<body>
  <div style="font-family:Helvetica,Arial,sans-serif;font-size:12px">
    <p>
      <span style="font-size:14px">
        <span style="font-family:arial,helvetica,sans-serif">Hi <%= @name%></span>
      </span>
    </p>

    <p>
      <span style="font-size:14px">
        <span style="font-family:arial,helvetica,sans-serif">Thanks for submitting your request. Someone will get back to you in 48hrs. .</span>
      </span>
    </p>

    <p>
      <span style="font-size:14px">
        <span style="font-family:arial,helvetica,sans-serif">Admin,</span><br>
        <span style="font-family:arial,helvetica,sans-serif">Demo App</span>
      </span>
      <br><br>&nbsp;
    </p>

  </div>
</body>
</html>
