!!!
%html
  %body
    %div{:style => "font-family:Helvetica,Arial,sans-serif;font-size:12px"}
      %p
        %span{:style => "font-size:14px"}
          %span{:style => "font-family:arial,helvetica,sans-serif"}
            Hi #{@email}
      %p
        %span{:style => "font-size:14px"}
          %span{:style => "font-family:arial,helvetica,sans-serif"} Thank you for showing your interest in my app .
      %p
        %span{:style => "font-size:14px"}
          %span{:style => "font-family:arial,helvetica,sans-serif"} Please login in the app by using your password #{@random_password} .
      %p
        %span{:style => "font-size:14px"}
          %span{:style => "font-family:arial,helvetica,sans-serif"}
            If you have any questions regarding anything please feel free to contact  us .
      %p
        %span{:style => "font-size:14px"}
          %span{:style => "font-family:arial,helvetica,sans-serif"}
            You can log in by following below link:
            \#{@login_url}.
      %p
      %p
        %span{:style => "font-size:14px"}
          %span{:style => "font-family:arial,helvetica,sans-serif"} Admin,
          %br/
          %span{:style => "font-family:arial,helvetica,sans-serif"} Demo App
        %br/
        = succeed "\u{a0}" do
          %br/
