<html>
<body>
  <div style="font-family:Helvetica,Arial,sans-serif;font-size:12px">
    <p>
      <span style="font-size:14px">
        <span style="font-family:arial,helvetica,sans-serif">Hi <%= @email%></span>
      </span>
    </p>
    <p>
      <span style="font-size:14px">
        <span style="font-family:arial,helvetica,sans-serif">Thank you for showing your interest in my app .</span>
      </span>
    </p>
    <p>
      <span style="font-size:14px">
        <span style="font-family:arial,helvetica,sans-serif">
          If you have any questions regarding anything please feel free to contact  us.
        </span>
      </span>
    </p>

     <p>
      <span style="font-size:14px">
        <span style="font-family:arial,helvetica,sans-serif">
         You can log in by following below link:
          <%= @login_url %>.
        </span>
      </span>
    </p>


    <p>&nbsp;</p>
    <p>
      <span style="font-size:14px">
        <span style="font-family:arial,helvetica,sans-serif">Admin,</span><br>
        <span style="font-family:arial,helvetica,sans-serif">Demo App</span>
      </span>
      <br><br>&nbsp;
    </p>
  </div>
</body>
</html>
