.guest_dashboard{display:table;width:100%;text-align:center;min-height:400px;}

.guest_dashboard-inner{display:table-cell;vertical-align:middle;}


.xlarge{
    text-transform: uppercase;
    text-align: center;
    width: 220px;
    padding: 10px;
    color: #fff!important;
    font-size: 18px;
    margin-top: 2em;
    text-decoration: none!important;
    display: inline-block;
}

.guest-inner{margin-top: 20%;}

.xlarge:hover, .xlarge:active {
    /*background-color: red;*/
}

/*# color#for error message*/
label.error{
    color: red !important;
}

/*##footer*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    border:20px;
    padding: 1em 0;
     border-top: 1px solid #ddd;
    /*background-color: #475055 none repeat scroll 0 0 !important;*/
    background-color: #89c0de !important;

}

/*.navbar-inverse{
background-color: #56b7cd!important;

}*/

/*.footer-text{
    color: #fff;
}*/



.about-us-link, .contact-us-link, .profile-link, .logout-link , .logout-link{ text-decoration: none!important;}
/*============================contact_us css=========================*/

/*.inner-container{min-height:600px;margin: 0 30px 0 50px;text-align:center; padding-top: 82px;}*/



