.guest_dashboard {
    display:table;
    width:100%;
    text-align:center;
    min-height:400px;
}

.guest_dashboard-inner {
    display:table-cell;
    vertical-align:middle;
}

.xlarge{
    text-transform: uppercase;
    text-align: center;
    width: 220px;
    padding: 10px;
    color: #fff!important;
    font-size: 18px;
    margin-top: 2em;
    text-decoration: none!important;
    display: inline-block;
}

.guest-inner{
    margin-top: 20%;
}

.xlarge:hover, .xlarge:active {
    /*background-color: red;*/
}

/*# color#for error message*/
label.error, .error_title{
    color: red !important;
}

/*##footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    border:20px;
    padding: 1em 0;
    border-top: 1px solid #ddd;
    /*background-color: #475055 none repeat scroll 0 0 !important;*/
    background-color: #89c0de !important;

}

.footer-res{
 height: 60px;;
    border:20px;
    padding: 1em 0;
    border-top: 1px solid #ddd;
    background-color: #89c0de !important;
}

/*.navbar-inverse{
background-color: #56b7cd!important;

}*/

/*.footer-text{
    color: #fff;
}*/

.gallery_product {
    margin-bottom: 30px;
}

.about-us-link, .contact-us-link, .profile-link, .logout-link , .logout-link, .gallery-link {
    text-decoration: none!important;
}

.title-editable  {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 0 3px #000000;
    display: table;
    outline: 0px;
    /*height: 22px;*/
    width: 100%;
}

.image-title {
    cursor: pointer;
}

.about-us-content{
    overflow-y: auto;
}
.wrap-why {
    padding: 0 50px;
    margin-bottom: 160px;
}
.wrap-why {
    margin-bottom: 145px;
    text-align: center;
}



.user-email{
    font-size: large!important
}

.abt-content{
    padding-top: 32px;
}

.container{margin-top: 5%}



.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    color: #fff!important;
    font-weight: 300!important;
    font-size: large!important;
    z-index: 1;
}






@media (min-width: 800px) and (max-width:1100px) {
.container {
    margin-top: 10%!important;
}
}

@media (min-width: 500px) and (max-width:800px) {
.container {
    margin-top: 15%!important;
}
}

@media (min-width: 300px) and (max-width:500px) {
.container {
    margin-top: 20%!important;
}
}





