.well
  .image-container.row
    %h3.text-center.image-text#text-color
      Image count
      .image-dyn
        %h2.image-count.text-center
          %img{ height: "30px" ,class: 'image-gif',  :src=> "/assets/loader2.gif"}/

