%div
  .new-image
    .col-sm-10
      = render partial: 'form'
    .col-sm-2
      = render partial: 'image_loader'
  - if @images.present?
    .row.col-md-12
      = render  @images
    .col-md-12
      = paginate @images , window: 2