<div class="footer navbar-fixed-bottom" >
    <div class="container-fluid" style="border:20px;  height:10%; width:100%;" >
        <h4 align= "center"> © 2017 Maropost Inc. All rights reserved. | Contact Us </a> </h4>
    </div>
</div>