<!-- <footer class="footer">
  <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-6">
          <p  class="pull-left" >© 2017 Maropost Inc. All rights reserved. |  <%=contact_helper%> </p>
        </div>

      </div>
  </div>
</footer>
 -->

<footer class="navbar-default navbar-fixed-bottom footer-res">
   <div class="container-fluid">
     <span  class="pull-left" >© 2017 Maropost Inc. All rights reserved. |  <%=contact_helper%> </span>
   </div>
</footer>